@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
/*
font-family: 'Lexend Deca', sans-serif;
*/
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");
/*font-family: 'Big Shoulders Display', cursive;
*/

$bright-orange: #e38826;
$dark-cyan: #006970;
$very-dark-cyan: #004241;

$transparent-white: #ffffffbf;
/* (paragraphs)*/
$very-light-gray: #f2f2f2;
// (background, headings, buttons)

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  width: 900px;
  h1 {
    font-family: "Big Shoulders Display", cursive;
    text-transform: uppercase;
    color: $very-light-gray;
    margin: 25px 0;
  }
  .containerField {
    font-family: "Lexend Deca", sans-serif;
    font-size: 15px;
    padding: 45px;
    color: $transparent-white;
    &.box1 {
      background-color: $bright-orange;
      border-radius: 8px 0 0 8px;
      button {
        color: $bright-orange;
      }
    }
    &.box2 {
      background-color: $dark-cyan;
      button {
        color: $dark-cyan;
      }
    }
    &.box3 {
      background-color: $very-dark-cyan;
      border-radius: 0 8px 8px 0;
      button {
        color: $very-dark-cyan;
      }
    }
    p {
      color: $transparent-white;
    }
    button {
      width: 120px;
      height: 40px;
      margin-top: 50px;
      background-color: $very-light-gray;
      border: none;
      border-radius: 40px;
      cursor: pointer;
      font-family: "Lexend Deca", sans-serif;
    }
  }
}

@media (max-width: 900px) {
  body {
    height: auto;
  }
  main {
    flex-direction: column;
    width: 400px;
    margin: 20px;
    .containerField {
      &.box1 {
        border-radius: 8px 8px 0 0;
      }
      &.box3 {
        border-radius: 0 0 8px 8px;
      }
    }
  }
}